/* 브라우저 기본 스타일 초기화 (CSS Reset) */
* {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif; /* 기본 폰트 설정 */
}

button {
  border: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
